name: arduino-test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.2

    - name: Cache Arduino CLI and libraries
      uses: actions/cache@v5.0.3
      with:
        path: |
          ~/.arduino15
          ~/Arduino/libraries
        key: arduino-${{ runner.os }}-${{ hashFiles('arduino/arduino.ino') }}
        restore-keys: |
          arduino-${{ runner.os }}-

    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v2.0.0
      with:
        version: '0.6.x'

    - name: Install platform
      run: |
        arduino-cli core update-index
        arduino-cli core install arduino:avr
        arduino-cli lib install "Ethernet"
        arduino-cli lib install "PubSubClient"
        arduino-cli lib install "ArduinoJson"

    - name: Compile Sketch
      run: arduino-cli compile --fqbn arduino:avr:mega ./arduino/arduino.ino
