name: infrastructure

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate resolved compose config
        run: |
          docker compose --env-file example.env --file docker-compose.yml config > resolved-docker-compose.yml

      - name: Build all containers
        uses: docker/bake-action@v6
        with:
          source: .
          files: |
            ./resolved-docker-compose.yml
          set: |
            *.cache-from=type=gha,scope=infrastructure
            *.cache-to=type=gha,mode=max,scope=infrastructure,ignore-error=true
          load: true

      - name: Start containers
        run: |
          docker compose --env-file example.env --file docker-compose.yml up --force-recreate --no-start
