name: lights-test

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Prepare directories
        run: |
          sudo chown -R 1000:1000 data/nodered

      - name: Generate resolved compose config
        run: |
          docker compose --env-file example.env --file docker-compose.yml config > resolved-docker-compose.yml

      - name: Build containers
        uses: docker/bake-action@v6
        with:
          source: .
          files: |
            ./resolved-docker-compose.yml
          targets: automations,features,broker
          set: |
            *.cache-from=type=gha,scope=lights-test
            *.cache-to=type=gha,mode=max,scope=lights-test,ignore-error=true
          load: true
          
      - name: Start containers
        run: |
          docker compose --env-file example.env up --force-recreate -d automations features broker

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          node-version-file: docker/test/.nvmrc
          cache: 'npm'
          cache-dependency-path: 'docker/test/package-lock.json'

      - name: Run tests
        run: |
          docker compose --env-file example.env ps
          cd docker/test
          npm ci
          sleep 30
          docker ps
          docker compose --env-file ../../example.env logs
          npm start
